/* Montserrat Regular */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  /* Montserrat Alternates */
  @font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  /* Lust Script */
  @font-face {
    font-family: 'Lust Script';
    src: url('../fonts/LustScript-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  